.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 24px solid rgba(0, 0, 0, 0.1);
  border-top: 24px solid #3498db;
  border-radius: 50%;
  width: 150px; 
  height: 150px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


